@media screen and (max-width: 600px) {
  // head section
  .head-content {
    display: flex;
    flex-direction: column-reverse;

    padding: 50px 0;

    overflow-y: scroll;
    .h-shape {
      display: none;
    }
    .left-header {
      margin: 0 20px !important;
    }

    .image {
      border-radius: 18px !important;
      margin-right: 0px !important;
      img {
        border-radius: 18px !important;
        background-color: var(--color-white);
      }
    }
  }
  // about section
  .about-container {
    grid-template-columns: 1fr;
  }
  // about stats
  .about-stats {
    .progress-bars {
      grid-template-columns: 1fr;
    }
    .timeline {
      grid-template-columns: 1fr;
      padding-left: 20px;
    }
  }
  // portfolio
  .p-text {
    margin-top: 1rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    img {
      height: 250px !important;
    }
    .hover-items {
      height: 97.5% !important;
    }
  }
  // cv/resume
  .p-contact {
    transform: translateX(0);
    text-align: center !important;
    width: 100%;
  }
  .head-btn {
    display: block;
  }
  //all sections
  section {
    padding: 2rem 1.5rem;
  }
  // controls
  .controls {
    display: flex;
    flex-direction: row;
    top: 0%;
    left: 50%;
    transform: translate(-50%);

    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 100%;
  }
  // main title
  .main-title {
    margin-top: 50px;
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      span {
        color: var(--color-secondary);
      }
      .bg-text {
        font-weight: 800;
        font-size: 2.5rem;
      }
    }
  }
}
