* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --color-primary: #1b1b1b;
  --color-secondary: #087ccc;
  --color-white: white;
  --color-black: black;
  --color-gray-0: rgb(247, 247, 247);
  --color-gray-1: rgb(230, 227, 227);
  --color-gray-2: rgb(177, 177, 177);
  --color-gray-3: gray;
  --color-gray-4: rgb(78, 78, 78);
  --color-gray-5: rgb(48, 48, 48);
  --color-gray-6: rgb(29, 29, 29);
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
  --padding-inner: 1.5rem;
  --transition-all: all 0.2s ease-in-out;
  --transition-more: all 0.4s ease-in-out;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.1rem;
  transition: var(--transition-all);
}
a {
  display: inline;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 10rem;
}
.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}
.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}
.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}
.active {
  display: block;

  animation: scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}
// controls
.btn-cons {
  display: flex;
  align-self: end;
}
.controls {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-70%);
  gap: 10px;
  .active-btn {
    color: var(--color-white) !important;
    transition: all 0.4s ease-in-out;
    background-color: var(--color-secondary) !important;
  }
  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-gray-4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-1);
    i {
      font-size: 1rem;
      color: var(--color-grey-2);
      pointer-events: none;
    }
  }
}
// header content
.head-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;

  .right-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: var(--padding-inner);
    .h-shape {
      transition: all 0.4s ease-in-out;
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      -webkit-clip-path: polygon(52% 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(52% 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .image {
      border-radius: 50%;
      overflow: hidden;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        border-radius: 50%;
        transition: var(--transition-all);
        object-fit: cover;
        background-color: var(--color-gray-0);
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
  .left-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 120px;

    .name {
      font-size: 2.1rem;
      span {
        white-space: nowrap;
        color: var(--color-secondary);
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

// About section
.about-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 3rem;
  gap: 3rem;
  .right-about {
    display: flex;
    flex-direction: column;
    .about-item {
      border: 1px solid var(--color-gray-5);
      border-radius: 5px;
      transition: var(--transition-all);
      box-shadow: var(--box-shadow-1);
      margin: 7px 0;
      padding-right: 2rem;
      &:hover {
        cursor: default;
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
      }
      .about-text {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        .large-text {
          font-size: 2rem;
          font-weight: 700;
          color: var(--color-secondary);
        }
        .small-text {
          padding-left: 3.5rem;
          position: relative;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: var(--color-gray-1);
          letter-spacing: 2px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 2rem;
            height: 2px;
            background-color: var(--color-gray-4);
          }
        }
      }
    }
  }
  .left-about {
    h4 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1.2rem;
    }
    p {
      line-height: 2.1rem;
      margin-bottom: 2rem;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

// About stats
.about-stats {
  padding-bottom: 4rem;
  .stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem 0;
    padding-top: 1rem;
    margin-top: 2.5rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 80%;
      height: 1px;
      background-color: var(--color-gray-5);
      transform: translateX(-50%);
    }
  }

  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .progress-bar {
      display: flex;
      flex-direction: column;
      .prog-title {
        text-transform: uppercase;
        font-weight: 500;
      }
      .progress-con {
        display: flex;
        align-items: center;
        .prog-text {
          color: var(--color-gray-3);
        }
        .progress {
          width: 100%;
          height: 0.45rem;
          background-color: var(--color-gray-4);
          margin-left: 1rem;
          border-radius: 4px;
          position: relative;
          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--color-secondary);
            border-radius: 4px;
          }
          .html {
            width: 80%;
          }
          .css {
            width: 75%;
          }
          .js {
            width: 70%;
          }
          .react {
            width: 70%;
          }
          .git {
            width: 67%;
          }
          .python {
            width: 50%;
          }
          .linux {
            width: 60%;
          }
          .mui {
            width: 55%;
          }
        }
      }
    }
  }
  .timeline-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem 0;
    padding-top: 1rem;
    margin-top: 4rem;
    position: relative;
  }
  .timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item {
      position: relative;
      padding-left: 3rem;
      border-left: 1px solid var(--color-gray-4);
      .tl-icon {
        position: absolute;
        left: -27px;
        top: 0;
        background-color: var(--color-secondary);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 1.3rem;
        }
      }
      .tl-duration {
        padding: 0.2rem 0.6rem;
        background-color: var(--color-gray-5);
        border-radius: 15px;
        display: inline-block;
        font-size: 0.8rem;
        text-transform: uppercase;
        padding: 3px 15px;
        font-weight: 500;
      }
      h5 {
        padding: 1rem 0;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;
        span {
          color: var(--color-gray-3);
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
      p {
        color: var(--color-gray-3);
      }
    }
  }
}

// portfolio section

.p-text {
  margin-top: 3rem;
}
.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  position: relative;
  .portfolio-item {
    position: relative;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
    }
    .hover-items {
      opacity: 0;
      transition: var(--transition-more);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 97%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--color-secondary);
      border-radius: 8px;
      h3 {
        font-size: 1.5rem;
        color: var(--color-white);
        margin-bottom: 1.5rem;
      }
      .icon {
        background-color: var(--color-primary);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        cursor: pointer;
        transition: var(--transition-more);
        i {
          font-size: 1.5rem;
          color: var(--color-white);
          margin: 0 1rem;
        }
        &:hover {
          background-color: var(--color-white);
          i {
            color: var(--color-primary);
          }
        }
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

// contact and curriculum vitae
.p-contact {
  transform: translateX(-50px);
  .pop-contact {
    color: var(--color-secondary);
    cursor: pointer;
    text-decoration: underline;
  }
}
.contactResume {
  position: relative;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
    display: none;
    justify-content: center;

    .overlay-container {
      margin-top: 13%;
      width: 450px;
      height: 250px;
      background-color: var(--color-white);
      border-radius: 7px;
      color: black;
      padding: 12px;
      .overlay-item {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 8px;
        .close-overlay {
          color: rgb(255, 113, 113);
          padding-left: 2px;

          cursor: pointer;
        }
      }
    }
  }
}
.head-btn {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.embed-cv {
  // width: 100%;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: relative;
  height: 250vh;
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  iframe {
    display: block;
    width: 100%;
    height: 100%;

    display: block;
    overflow: hidden;
    padding: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// independent components
// button general component
.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;

  overflow: hidden;
  .btn-text {
    padding: 0 2rem;
  }
  .btn-icon {
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
  }
  &:hover {
    &::before {
      background-color: var(--color-secondary);
      transform: translateX(0);
    }
  }
}

// main title general component
.main-title {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    span {
      color: var(--color-secondary);
    }
    .bg-text {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-gray-5);
      font-weight: 800;
      font-size: 5rem;
      transition: var(--transition-all);
    }
  }
}
